<!doctype html>
<html class="no-js" ng-app="diplomacy" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="dipl.io is a modern browser implementation of the board game Diplomacy. It's free, open source, fast, and powerful!" />
    <meta name="viewport" content="width=device-width">
    <base href="/">
    <title>dipl.io</title>
    <!-- build:css app.min.css -->
    <link href="../bower_components/v-accordion/dist/v-accordion.css" rel="stylesheet" type="text/css" />
    <link href="../bower_components/angular-material/angular-material.css" rel="stylesheet" type="text/css" />
    <link href="temp/app.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->
</head>
<body ng-controller="AppController" layout="column">
    <md-toolbar style="background-color:transparent;">
        <div class="md-toolbar-tools">
            <span class="logo"><a ui-sref="main.home">dipl.io</a></span>
            <span flex></span>
            <md-button class="md-raised md-primary" aria-label="Log In" ui-sref="main.login" ng-if="!isAuthenticated">Log In</md-button>
            <md-button class="md-raised md-primary" aria-label="Sign Up" ui-sref="main.signup" ng-if="!isAuthenticated">Sign Up</md-button>

            <div class="info" layout="row" layout-margin ng-if="isAuthenticated">
                <div layout="column" layout-align="center end">
                    <span class="email" ng-if="isAuthenticated">{{userEmail}}</span>
                    <span class="points">100 points</span>
                </div>

                <md-menu md-position-mode="target-right target">
                    <md-icon md-menu-origin md-svg-icon="account" ng-click="$mdOpenMenu($event)" class="svg48px"></md-icon>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="profile.games">
                                <span md-menu-align-target>My games</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="games.new">
                                <span md-menu-align-target>Start a new game</span>
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="logOut()">
                                <div layout="row">
                                    <md-icon md-menu-align-target md-svg-icon="eject"></md-icon>
                                    <p flex>Log out</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>

    <div layout="column" layout-fill>
        <div style="margin-top:10px;">
            <ui-view />
        </div>
        <div>
            <footer>
                v{{VERSION}}-{{TIMESTAMP}} |
                <a href="https://github.com/spamguy/diplomacy">dipl.io on GitHub</a> |
                <a href="https://blog.dipl.io">dipl.io Blog</a>
            </footer>
        </div>
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-2582000-2', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- build:js vendor.min.js -->
    <!-- bower:js -->
    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="../bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="../bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="../bower_components/momentjs/min/moment-with-locales.js"></script>
    <script src="../bower_components/angular-timer/dist/angular-timer.js"></script>
    <script src="../bower_components/socket.io-client/socket.io.js"></script>
    <script src="../bower_components/angular-socket-io/socket.js"></script>
    <script src="../bower_components/v-accordion/dist/v-accordion.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js app.min.js -->
    <script src="temp/constants.js"></script>

    <script src="app/services/SVG/SVG.service.js"></script>
    <script src="app/services/login/login.service.js"></script>
    <script src="app/services/user/user.service.js"></script>
    <script src="app/services/game/game.service.js"></script>
    <script src="app/services/socket/socket.service.js"></script>

    <script src="app/app.module.js"></script>

    <script src="app/games/games.module.js"></script>
    <script src="app/main/main.module.js"></script>
    <script src="app/profile/profile.module.js"></script>

    <script src="app/app.controller.js"></script>
    <script src="app/main/home/home.controller.js"></script>
    <script src="app/directives/map/map.directive.js"></script>
    <script src="app/directives/mapheader/mapheader.directive.js"></script>
    <script src="app/directives/gametools/gametools.directive.js"></script>
    <script src="app/directives/gametoolsprovincelistitem/gametoolsprovincelistitem.directive.js"></script>
    <script src="app/directives/gamelistitem/gamelistitem.directive.js"></script>
    <script src="app/directives/gamelistitem/joindialog.controller.js"></script>
    <script src="app/games/view/filters/variant.filter.js"></script>
    <script src="app/games/games.controller.js"></script>
    <script src="app/games/view/view.controller.js"></script>
    <script src="app/main/login/login.controller.js"></script>
    <script src="app/main/logout/logout.controller.js"></script>
    <script src="app/main/signup/signup.controller.js"></script>
    <script src="app/profile/usergames/usergames.controller.js"></script>
    <script src="app/profile/verify/verify.controller.js"></script>
    <script src="app/profile/verify/directives/passwordconfirm.directive.js"></script>
    <script src="app/profile/profile.filter.js"></script>
    <script src="app/profile/usergames/usergames.controller.js"></script>
    <script src="app/games/new/newgame.controller.js"></script>
    <!-- endbuild -->
</body>
</html>
