<!doctype html>
<html class="no-js" ng-app="diplomacy">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:400" rel="stylesheet" type="text/css" />
    <!-- build:css app.min.css -->
    <link href="assets/css/angular-material.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/angular-wizard.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="temp/app.css" />
    <!-- endbuild -->
</head>
<body ng-controller="AppController" layout="column">
    <md-toolbar>
        <div layout="row" layout-align="center center">
            <span class="logo">dipl.io</span>

            <span flex></span>

            <div class="fill-height">
                <md-button md-no-ink class="md-accent md-raised md-toolbar-item" ng-if="!isAuthenticated" ui-sref="main.signup">Sign up</md-button>
                <md-button md-no-ink class="md-accent md-raised md-toolbar-item" ng-if="!isAuthenticated" ui-sref="main.login">Log in</md-button>
            </div>
        </div>
    </md-toolbar>

    <div ui-view="" layout="column" flex class="column-wrapper"></div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-2582000-2', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- build:js app.min.js -->
    <script src="blib/lodash/lodash.min.js"></script>
    <script src="lib/angular/angular.js"></script>

    <!-- angular libs -->
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="blib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/restangular/dist/restangular.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="lib/angular-jwt/dist/angular-jwt.js"></script>
    <script src="lib/angular-mocks/angular-mocks.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="blib/angular-aria/angular-aria.js"></script>
    <script src="blib/angular-wizard/dist/angular-wizard.js"></script>
    <script src="blib/hammerjs/hammer.js"></script>
    <script src="blib/angular-material/angular-material.js"></script>

    <!-- my angular libs -->
    <script src="app/services/d3Service/d3Service.service.js"></script>
    <script src="app/services/SVGService/SVGService.service.js"></script>
    <script src="app/services/userService/userService.service.js"></script>
    <script src="app/services/gameService/gameService.service.js"></script>

    <script src="app/app.module.js"></script>

    <script src="app/games/games.module.js"></script>
    <script src="app/main/main.module.js"></script>
    <script src="app/profile/profile.module.js"></script>

    <script src="app/app.controller.js"></script>
    <script src="app/main/home/home.controller.js"></script>
    <script src="app/directives/map/map.directive.js"></script>
    <script src="app/games/games.controller.js"></script>
    <script src="app/games/view/view.controller.js"></script>
    <script src="app/main/login/login.controller.js"></script>
    <script src="app/main/login/login.state.js"></script>
    <script src="app/main/signup/directives/signupform.directive.js"></script>
    <script src="app/main/signup/signup.controller.js"></script>
    <script src="app/profile/profile.controller.js"></script>
    <script src="app/profile/profile.filter.js"></script>
    <!-- endbuild -->
</body>
</html>
