{
    "globals": {
        "angular": true,
        "inject": true,
        "_": true,
        "d3": true
    },
    "extends": "semistandard",
    "env": {
        "jasmine": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": [2, 4],
        "space-before-function-paren": [2, "never"],
        "one-var": [2, "always"],
        "brace-style": [2, "stroustrup", { "allowSingleLine": true }]
    }
}
