<h1>Your game is starting!</h1>

<p>The game {{gameName}} is officially underway. You can visit it at <a href="{{gameURL}}">{{gameURL}}</a>.</p>

<p>The first deadline is <strong>{{firstDeadline}}</strong>.</p>
