<h1>Another player has joined!</h1>

<p>The game {{gameName}} is one player closer to starting. <strong>{{playerCount}}</strong> have signed on. That means the game is waiting on {{remainingSlots}} more {{personInflection}}.</p> 
