// RL colour scheme defs
$rl-red: #703030;
$rl-dark-grey: #2f343b;
$rl-light-grey: #7e827a;
$rl-tan: #e3cda4;

//@import 'bootstrap-sass/assets/stylesheets/bootstrap';

// Component styles are injected through grunt
// injector
@import 'games/games.scss';
@import 'games/view/view.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
// endinjector

html, body
{
    min-height: 100%;
    height: 100%;
    background-color: $rl-tan;
}

.headline
{
    font-size: 48pt;
    font-family: 'Josefin Sans';
    color: $rl-red;
    display: block;
}


md-toolbar
{
    padding-left: 10px;
    padding-right: 10px;
    span.logo
    {
        font-family: 'Montserrat';
        text-transform: uppercase;
        background: -webkit-linear-gradient(top, $rl-tan, #794B52);
        background: linear-gradient(top, $rl-tan, $rl-red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36pt;
    }
}

.tab-pane
{
    background-color: $rl-light-grey;
    padding: 0 10px 10px 10px;
}

// map things
.sc
{
    stroke: #000;
    stroke-width: 30px;
}

path.link
{
    fill: none;
    stroke: #040;
    stroke-width: 2px;

    .fail
    {
        stroke: #f00;
    }
}

marker#move
{
    fill: #040;

    .fail
    {
        fill: #f00;
    }
}

marker#support
{
    stroke-dasharray: '10, 5';
}

// mixins
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// consistent validation error appearance
form .CustomValidationError
{
	color: red;
	padding: 10px;
}
