$am-light-blue-grey: #ECEFF1;

@import 'games/games.scss';
@import 'games/view/view.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';

html, body
{
    min-height: 100%;
    height: 100%;
    background-color: $am-light-blue-grey;
    font-family: 'Montserrat';
}

footer
{
    text-align: center;
    padding: 20px;
}

h1
{
    font-family: 'Josefin Sans';
    text-align: center;
    font-weight: 700;
    font-size: 32pt;
}

md-toolbar
{
    padding-left: 10px;
    padding-right: 10px;
    span.logo
    {
        font-family: 'Montserrat';
        text-transform: uppercase;
        //background: -webkit-linear-gradient(top, $rl-tan, #794B52);
        //background: linear-gradient(top, $rl-tan, $rl-red);
        //-webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        font-size: 36pt;
    }
}

.subheader
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14pt;
    text-align: center;
}

md-whiteframe
{
    background: #fff;
}

.tab-pane
{
    padding: 0 10px 10px 10px;
}

// map things
// TODO: break into separate file
.sc
{
    stroke: #000;
    stroke-width: 30px;
}

path.link
{
    fill: none;
    stroke: #000;
    stroke-width: 3px;

    .fail
    {
        stroke: #f00;
    }
}

marker#move
{
    fill: #000;

    .fail
    {
        fill: #f00;
    }
}

marker#support
{
    stroke-dasharray: '10, 5';
}

// mixins
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
