$fa-font-path: '/lib/font-awesome/fonts';

// RL colour scheme defs
$rl-red: #703030;
$rl-dark-grey: #2f343b;
$rl-light-grey: #7e827a;
$rl-tan: #e3cda4;

@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

// Component styles are injected through grunt
// injector
@import 'games/games.scss';
@import 'games/view/view.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
// endinjector

body
{
    //margin-top: 60px;
    background-color: $rl-dark-grey;
    color: #ddd;
}

nav
{
    background: $rl-red;
    margin-bottom: 10px;

    i
    {
        margin: 10px;
    }
}

.loggedOut
{
    color: $rl-red;
}

// tabs
.nav-tabs
{
    border-bottom: 1px solid $rl-light-grey;
}

li.ng-isolate-scope a
{
    background-color: $rl-red;
    border: 0;
    color: #ddd;
    padding: 6px 5px;
    text-transform: uppercase;
    cursor: pointer;
}

li.ng-isolate-scope.active a
{
    background-color: $rl-light-grey;
    border: 0;
    color: #ddd;
    padding: 5px 6px;
    text-transform: uppercase;
}

.tab-pane
{
    background-color: $rl-light-grey;
    padding: 0 15px 15px 15px;
}

// via http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* fix firefox responsive images */
.img-responsive {
    width: 100%
}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

// mixins
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// consistent validation error appearance
form .CustomValidationError
{
	color: red;
	padding: 10px;
}
