<md-tabs flex>
    <md-tab>
        <md-tab-label>Orders</md-tab-label>
        <md-tab-body>
            <section ng-repeat="(code, power) in variant.powers">
                <md-subheader>{{power.name}}</md-subheader>
                <md-list>
                    <md-list-item ng-repeat="province in season[0].regions" ng-if="powerOwnsProvince(code, province)">
                        <sg-province-list-item province="province" />
                    </md-list-item>
                </md-list>
            </section>
        </md-tab-body>
    </md-tab>
</md-tabs>
