<md-tabs flex>
    <md-tab>
        <md-tab-label>Orders</md-tab-label>
        <md-tab-body>
            <md-content>
                <section ng-repeat="(code, power) in getPowerList()">
                    <md-subheader>{{power.name}}</md-subheader>
                    <md-list>
                        <md-list-item ng-repeat="province in season.regions" ng-if="powerOwnsProvince(code, province)">
                            <sg-province-list-item province="province" />
                        </md-list-item>
                    </md-list>
                </section>
            </md-content>
        </md-tab-body>
    </md-tab>
</md-tabs>
