<div id="passwordFormGroup" class="form-group">
    <span class="help-block">Now choose a password five characters or longer...</span>

    <input id="password" name="password" class="form-control input-lg" type="password" ng-model="user.password"
        validation-field-required="true"
        validation-min-length="5"
    />
</div>

<div id="password2FormGroup" class="form-group">
    <span class="help-block">...and type it again to verify it's correct.</span>

    <input id="password2" name="password2" class="form-control input-lg" type="password" ng-model="user.password2"
        validation-confirm-password="true"
        validation-field-required="true"
        validation-min-length="5"
    />
</div>
