<div class="tab-pane">
    <table class="gameListing" ng-repeat="game in playingList = (playing | gmStatus:false)" ng-click="goToGame(game, variants[game.variant], moves[game._id])">
        <tr>
            <td class="map">
                <sg-map variant="variants[game.variant]" arrows="true" moves="moves[game._id]" />
            </td>
            <td>
                <span class="gameName">{{game.name}}</span>
                <hr />
            </td>
        </tr>
    </table>
    <div ng-hide="playingList.length">You're not playing any games. <a ui-sref="games.list">How about joining one?</a></div>
</div>

<!-- ui-sref="games.view({ id: game._id })" -->
