<div class="tab-pane">
    <table class="gameListing" ng-repeat="game in playingList = (playing | gmStatus:false)" ui-sref="games.view({ id: game._id })">
        <tr>
            <td class="map">
                <sg-map variant="variants[game.variant]" />
            </td>
            <td>
                <h4>{{game.name}}</h4>
                <hr />
            </td>
        </tr>
    </table>
    <div ng-hide="playingList.length">You're not playing any games. <a ui-sref="games.list">How about joining one?</a></div>
</div>
