<form name="forms.newGameForm" ng-if="hasDecentScore()">
    <wizard on-finish="onWizardFinished()" hide-indicators="true"> <!-- This baby is so long the steps are squishing together! -->
        <wz-step title="Name" canexit="canExitStep1">
            <div layout="row" layout-align="center center" layout-padding>
                <md-whiteframe class="md-whiteframe-z2" flex="60" flex-sm="100">
                    <p>What will your game be called?</p>

                    <md-input-container>
                        <label>Name</label>
                        <input type="text" name="gamename" ng-model="game.name" required />
                    </md-input-container>

                    <p style="text-align:center"><md-button wz-next class="md-raised md-accent">Continue</md-button></p>
                </md-whiteframe>
            </div>
        </wz-step>
        <wz-step title="Variant">
            <div layout="row" layout-align="center center" layout-padding>
                <md-whiteframe class="md-whiteframe-z2" flex="60" flex-sm="100">
                    <p>Choose a variant, if applicable.</p>

                    <!-- TODO: This is totally impractical. Maybe an iOS-like icon view? -->
                    <md-radio-group ng-model="game.variant">
                        <md-radio-button ng-repeat="variant in variants" ng-value="variant">{{variant}}</md-radio-group>
                    </md-radio-group>

                    <p style="text-align:center"><md-button wz-next class="md-raised md-accent">Continue</md-button></p>
                </md-whiteframe>
            </div>
        </wz-step>
        <wz-step title="Movements">
            <div layout="row" layout-align="center center" layout-padding>
                <md-whiteframe class="md-whiteframe-z2" flex="60" flex-sm="100">
                    <p>Choose when and how movement phases are processed.</p>

                    <md-radio-group ng-model="game.movementTiming" class="clockRadioLine">
                        <div layout="row" class="clockOption">
                            <md-radio-button value="clock"></md-radio-button>
                            <label>Every</label>
                            <md-input-container>
                                <input type="number" name="movementClockHours" ng-model="game.movementClockHours" />
                            </md-input-container>
                            <label>hours</label>
                        </div>
                    </md-radio-group>
                </md-whiteframe>
            </div>
        </wz-step>
        <wz-step title="Retreats">
        </wz-step>
        <wz-step title="Builds">
        </wz-step>
    </wizard>
</form>

<div layout="row" layout-align="center center" layout-padding ng-if="!hasDecentScore()">
    <md-whiteframe class="md-whiteframe-z2" flex="50" flex-sm="100">
        <h1>Sorry!</h1>

        You haven't earned enough good standing to create and oversee games. {{minimumPointsToGM}} points are required; you have {{points}}. Keep at it!
    </md-whiteframe>
</div>
