<div layout="column" layout-margin>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Playing">
            <div layout="column" layout-margin>
                <sg-game-list-item ng-repeat="game in playingList = (playing | gmStatus:false)" game="game" variant="variants[game.variant]" joinable="false" user="user" />
            </div>
        </md-tab>
        <md-tab label="Mastering">
            <div layout="column" layout-margin>
                <sg-game-list-item ng-repeat="game in playingList = (playing | gmStatus:true)" game="game" variant="variants[game.variant]" joinable="false" user="user" />
            </div>
        </md-tab>
        <md-tab label="Completed">
            <div layout="column" layout-margin>
                <!-- <sg-game-list-item ng-repeat="game in playingList = (playing | gmStatus:false)" /> -->
            </div>
        </md-tab>
    </md-tabs>
</div>
