<div ng-click="goToGame()" layout="column" layout-fill>
    <div layout="row">
        <div flex="85" flex-xs="75">
            <h1 class="md-title">{{game.name}}</h1>
            <div class="gameDetails">
                <md-icon md-svg-icon="calendar"></md-icon>
                <span aria-label="Current season">{{seasonDescription}}</span>
                <md-icon md-svg-icon="clock"></md-icon>
                <span>10 minutes</span>
            </div>
        </div>
        <div flex layout="column" layout-align="center center">
            <!-- HACK: Tooltip does not work on disabled buttons. -->
            <md-tooltip ng-if="joinable && reasonForNoJoin()">{{reasonForNoJoin()}}</md-tooltip>
            <md-button class="md-raised md-primary" ng-if="joinable" ng-disabled="reasonForNoJoin()" ng-click="showJoinDialog()">
                <span>Join</span>
            </md-button>
        </div>
    </div>

    <md-divider flex></md-divider>
</div>
