<md-dialog>
    <md-toolbar class="md-accent miniToolbar">
        <h4>Really join?</h4>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column" layout-margin>
            <div>Are you sure you want to join this game? By clicking OK you are agreeing to participate to the best of your ability. See the FAQ and Community Guidelines for details.</div>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised" aria-label="Cancel" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" aria-label="OK" ng-click="joinGame()">OK</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
