.gameListing
{
    width: 100%;
    cursor: pointer;

    &:hover
    {
        color: $rl-tan;
        background-color: $rl-light-grey;

        hr
        {
            border-top: 1px solid $rl-tan;
        }
    }

    td.map
    {
        width: 100px;
        padding-right: 10px;
    }
}
