<div class="listingContainer">
    <md-tabs md-selected="selectedIndex">
        <md-tab ng-repeat="tab in tabs" label="{{tab.heading}}" ng-disabled="tab.disabled">
        </md-tab>
    </md-tabs>

    <ng-switch on="selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="playingTabPanel" ng-switch-when="0">
            <table class="gameListing" ng-repeat="game in playingList = (playing | gmStatus:false)" ng-click="goToGame(game, variants[game.variant], moves[game._id])">
                <tr>
                    <td class="map">
                        <sg-map variant="variants[game.variant]" arrows="true" season="moves[game._id]" />
                    </td>
                    <td>
                        <span class="gameName">{{game.name}}</span>
                        <hr />
                    </td>
                </tr>
            </table>
            <div ng-hide="playingList.length">You're not playing any games. <a ui-sref="games.list">How about joining one?</a></div>
        </div>
        <div role="tabpanel" id="gmingTabPanel" ng-switch-when="1">
            <table class="gameListing" ng-repeat="game in playingList = (playing | gmStatus:true)" ng-click="goToGame(game, variants[game.variant], moves[game._id])">
                <tr>
                    <td class="map">
                        <sg-map variant="variants[game.variant]" arrows="true" season="moves[game._id]" />
                    </td>
                    <td>
                        <span class="gameName">{{game.name}}</span>
                        <hr />
                    </td>
                </tr>
            </table>
            <div ng-hide="playingList.length">You're not GMing any games. <a ui-sref="games.new">How about starting one?</a></div>
        </div>
    </ng-switch>
</div>
