<div id="wizardContainer">
    <form name="signupForm">
        <wizard on-finish="onWizardFinished()">
            <wz-step title="Welcome" canexit="canExitUsernameStep">
                <div class="wizardStep">
                    <span class="headline">Welcome!</span>

                    <p class="text">Glad to <del>stab</del> meet you. Please set up an account to start playing.</p>

                    <md-input-container>
                        <label>Username</label>

                        <!-- TODO: Debounce and/or use updateOn. See ng-model-options. -->
                        <input type="text" name="username" ng-model="user.username" sg-valid-username required />

                        <div ng-messages="signupForm.username.$error">
                            <div ng-message="unique">This username is taken. :(</div>
                        </div>
                    </md-input-container>

                    <p><md-button wz-next class="md-raised md-primary">Continue</md-button></p>
                </div>
            </wz-step>
            <wz-step title="Password" canexit="canExitPasswordStep">
                <p class="text">Now choose a good password:</p>

                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="user.password" required />
                </md-input-container>

                <p class="text">And confirm it:</p>

                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password2" ng-model="user.password2" required sg-passwords-match="password" />

                    <div ng-messages="signupForm.password2.$error">
                        <div ng-message="pwmatch">The passwords do not match.</div>
                    </div>
                </md-input-container>

                <p><md-button wz-next class="md-raised md-primary">Continue</md-button></p>
            </wz-step>
            <wz-step title="Email">
            </wz-step>
        </wizard>
    </form>
</div>
