.clockOption
{
    label
    {
        padding-top: 10px;
    }

    input
    {
        padding: auto 5px;
        width: 70px;
    }

    md-radio-button
    {
        position: relative;
        top: -7px;
    }

    span.radioDetail
    {

    }
}
