<h1>Welcome to dipl.io!</h1>

<p>You're almost done. Once you <a href="{{baseURL}}/profile/verify/{{token}}">verify your email address and complete the registration</a>, you can start playing. This link is valid for 24 hours.</p>

<p>If you did not register at dipl.io, you can safely ignore this message.</p>
