<div layout="row" layout-align="center center" layout-padding>
    <section class="md-whiteframe-z2" flex="60">
        <h1 class="md-subhead">Thanks for taking the time to verify your email address. Now, choose a password, and you're all set!</h1>
        <form>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="user.password" required />
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" name="password2" ng-model="user.password2" required sg-compare-to="user.password" />

                <div ng-messages="signupForm.password2.$error">
                    <div ng-message="compareTo">The passwords do not match.</div>
                </div>
            </md-input-container>

            <p style="text-align:center">
                <md-button ng-disabled="signupForm.$invalid" class="md-raised md-accent" ng-click="user.save()">Continue</md-button>
            </p>
        </form>
    </section>
</div>
