<div layout="row" layout-align="center center" layout-padding>
    <section flex="33" flex-sm="100">
        <form name="loginForm" ng-submit="user.login()">
            <div ng-messages="loginForm.password.$error">
                <div id="validLoginMessage" ng-message="validLogin">Your username or password is incorrect.</div>
            </div>
            <md-input-container>
                <label>Email</label>
                <input type="email" name="email" ng-model="user.email" required="true" />
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="user.password" required="true" />
            </md-input-container>

            <p style="text-align:center">
                <md-button type="submit" id="loginButton" class="md-raised md-accent">Log In</md-button>
            </p>
        </form>
    </section>
</div>
