<div layout="column" layout-margin>
    <section class="md-whiteframe-z2" flex ng-if="isAdmin">
        <div layout="row" layout-sm="column" flex layout-margin layout-align="center center">
            <div flex>
                <h1 class="md-title">You are this game's GM.</h1>
            </div>
            <div flex>
                <md-input-container>
                    <label>Choose an action...</label>
                    <md-select>
                        <md-option value="bootplayer">Boot a player</md-option>
                        <md-option value="endgame">End this game</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </section>

    <section class="md-whiteframe-z2" flex>
        <sg-map variant="variant" season="season" arrows="true" readonly="false" />
    </section>
</div>
