<div layout="row" layout-sm="column" layout-margin>
    <md-whiteframe class="md-whiteframe-z2" flex="75" flex-sm="100">
        <sg-map variant="variant" season="season" arrows="true" readonly="false" />
    </md-whiteframe>
    <md-whiteframe layout="row" class="md-whiteframe-z2" layout-align="center center" flex="20" flex-sm="100">
        <div><span class="headline">Press</span></div>
    </md-whiteframe>
</div>
<!-- <div class="actionBox">
    <md-button class="md-fab md-primary">
        <md-icon md-svg-src="assets/images/plain17.svg"></md-icon>
    </md-button>
</div> -->
