<div layout="column" layout-align="center center">
    <h1 class="md-display-2 typewriter">{{game.name}}</h1>
    <h1 class="md-headline typewriter">Playing as {{currentUserInGame.power ? powers[currentUserInGame.power].name : 'Game Master'}}</h1>
</div>

<div layout="row" layout-margin layout-wrap>
    <div flex="65" flex-xs="100">
        <sg-map service="service" arrows="true" header="true" readonly="readonly" svg="svg" />
    </div>

    <div layout="row" class="md-whiteframe-2dp" flex>
        <sg-game-tools layout="row" game="game" powers="powers" phase-index="phaseIndex" flex />
    </div>
</div>
